
# MGNet/dataset/msi_sod.py: 5
Pillow == 8.1.2

# MGNet/utils/configurator.py: 15
addict == 2.4.0

# MGNet/dataset/msi_cod.py: 5
# MGNet/dataset/transforms/composition.py: 3,5
# MGNet/dataset/transforms/resize.py: 1
# MGNet/dataset/transforms/rotate.py: 3
albumentations == 1.0.0

# MGNet/utils/pipeline/scheduler.py: 280
# MGNet/utils/recorder/visualize_results.py: 1,2
matplotlib == 3.4.2

# MGNet/dataset/transforms/composition.py: 4
# MGNet/main.py: 10

# MGNet/methods/MGNet/MGNet.py: 1
# MGNet/test.py: 8
# MGNet/utils/io/image.py: 6
# MGNet/utils/misc.py: 13
# MGNet/utils/ops/array_ops.py: 5
# MGNet/utils/pipeline/scheduler.py: 12
# MGNet/utils/recorder/metric_caller.py: 6
# MGNet/utils/recorder/visualize_results.py: 3
numpy == 1.19.2

# MGNet/tools/run_it.py: 13
nvidia_ml_py3 == 7.352.0

# MGNet/dataset/msi_cod.py: 6
# MGNet/dataset/transforms/resize.py: 2
# MGNet/dataset/transforms/rotate.py: 4
# MGNet/utils/io/image.py: 5
# MGNet/utils/ops/array_ops.py: 4
opencv_python_headless == 4.5.1.48

# MGNet/utils/recorder/excel_recorder.py: 9,10,11
openpyxl == 3.0.7

# MGNet/utils/recorder/metric_caller.py: 7
pysodmetrics == 1.2.4

# MGNet/methods/classic_methods/CPD.py: 9
# MGNet/utils/pipeline/scheduler.py: 14
scipy == 1.6.2

# MGNet/methods/classic_methods/HDFNet.py: 5
# MGNet/methods/classic_methods/MINet.py: 2

timm == 0.4.12

# MGNet/dataset/base_dataset.py: 9,10
# MGNet/dataset/msi_cod.py: 7
# MGNet/main.py: 11
# MGNet/methods/module/base_model.py: 7
# MGNet/methods/module/conv_block.py: 6
# MGNet/methods/MGNet/MGNet.py: 3,4,5,6
# MGNet/test.py: 9
# MGNet/utils/io/params.py: 8,9
# MGNet/utils/misc.py: 14,15,16
# MGNet/utils/ops/module_ops.py: 7
# MGNet/utils/ops/tensor_ops.py: 7,8
# MGNet/utils/pipeline/dataloader.py: 8
# MGNet/utils/pipeline/ema.py: 7,8
# MGNet/utils/pipeline/optimizer.py: 8
# MGNet/utils/pipeline/scheduler.py: 13
# MGNet/utils/recorder/tensorboard.py: 6
# MGNet/utils/recorder/visualize_results.py: 4
torch == 1.8.1

# MGNet/dataset/msi_sod.py: 6
# MGNet/utils/recorder/tensorboard.py: 7
# MGNet/utils/recorder/visualize_results.py: 5,6
torchvision == 0.9.1

# MGNet/main.py: 12
# MGNet/test.py: 10
tqdm == 4.59.0

# MGNet/utils/pipeline/tta.py: 6
ttach == 0.0.3

# MGNet/utils/configurator.py: 16
yapf == 0.31.0
